.oc-tab-control {
	display: flex;
	align-items: center;
}

.oc-tab-button,
.oc-tab {
	cursor: pointer;
}

.oc-tab-button {
	height: 90px;
	width: 50px;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
}

.oc-tab-button::before {
	content: '';
	display: block;
	height: 25px;
	width: 25px;
	transform: rotate(45deg);
}

.oc-tab-button.previous::before,
.oc-tab-button.next::before {
	box-sizing: border-box;
}


.oc-tab-button.previous {
	border-right-width: 0;
}

.oc-tab-button.previous::before {
	border-left: solid 5px #fff;
	border-bottom: solid 5px #fff;
	margin-left: 12.5px;
}

.oc-tab-button.next {
	border-left-width: 0;
}

.oc-tab-button.next::before {
	border-right: solid 5px #fff;
	border-top: solid 5px #fff;
	margin-right: 12.5px;
}

.oc-tab-list {
	padding: 0;
	white-space: nowrap;
    width: 800px;
    overflow: hidden;
}

.oc-tab-list > :last-child {
	margin-right: 0;
}

.oc-tab {
	text-align: center;
	width: 200px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.oc-tab[disabled="disabled"] {
	opacity: 0.4;
}

.oc-tab.oc-tab-selected {
	background-color: rgb(38,147,255);
	box-shadow: 0px 0px 20px rgba(38,201,255,0.8);
}

.oc-tab-icon {
	width: 25px;
}

.oc-tab-text {
	margin-left: 10px;
}

/* Non Tab Control specific styles */
.oc-screen {
	text-align: center;
}

.default [data-oc-control="TextView"] {
	word-break: break-all;
	font-size: 18pt;
}
